<div class="top-bar">
  <div class="top-bar-title" >
    <h1 style="font-weight: bolder;"> Rasa Admin</h1>
  </div>
  
  <div class="top-bar-left " id="responsive-menu">
    <ul class="menu specialhover" data-dropdown-menu>
      <li class="all_nav_item about_nav_item"> <a href="/s/">  Botlist  </a></li>
      <li class="all_nav_item blog_nav_item"> <a  href="/dashboard/" > Dashboard </a> </li>
      <li class="all_nav_item projects_nav_item"><a href="/chat/">Start chat </a></li>
    </ul>
    
  </div>
</div>
<br>